files:
  /etc/pki/tls/certs/server.crt:
    content: |
      -----BEGIN CERTIFICATE-----
      PASTE CERTIFICATE FILE CONTENTS HERE
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      PASTE PRIVATE KEY FILE CONTENTS HERE
      -----END RSA PRIVATE KEY-----