.appCenter {
  width: 70%;
  margin: auto;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .appCenter {
    width: 100%;
  }
}

.padded {
  padding: 10px;
}

.imgCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10em;
}

.modeCard {
  width: 20em;
  height: 15em;
}

.prevButton {
  float: left
}

.nextButton {
  float: right
}

.selectableCardWrapper {
  padding: 2%;
}

.selectableCard {
  cursor: pointer;
}

.selectableCard-selected {
  border-style: solid;
  border-width: thick;
  border-color: black;
}

.speciesCard {
  width: 20em;
  height: 15em;
}

.charClassCard {
  width: 20em;
  height: 12em;
}

.charSheetButtonCenter {
  margin: auto;
  width: 250px;
}

.charSheetDescription {
  font-size: 75%;
}

.createCharButton {
  transform: translate(7.5%, 0);
  margin-top: 20px;
}

.professionCenter {
  margin: auto;
  width: 30%;
}

.quickGearCheckboxCenter {
  margin: auto;
  width: 20%;
}

.charSheetSelectorArea {
  margin-top: 5%;
}

.skillsCol {
  margin-left: 1em;
  margin-right: 1em;
}

.attributeTypeCard {
  height: 10em;
  margin-left: 2em;
  margin-top: 1em;
}

.attributeTable {
  width: 90%;
  border-collapse: collapse;
}

.attributeTableHeaderCell {
  font-style: italic;
  font-weight: bolder;
  padding-bottom: 2%;
  background-color: gray;
}

.attributeTableAttributeCell {
  padding-top: 3%;
  padding-bottom: 3%;
  font-weight: bold;
  width: 15%;
}

.attributeTableScoreCell {
  width: 10%;
  border: 1px solid;
}

.attributeTableGeneralCell {
  width: 10%;
}

.resetValuesButtonCenter {
  display: flex;
  justify-content: center;
  margin-top: 3%; 
}